.background1{
    background-image: url(clo.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: space-between
}
.container{
    background-color: #f1efe7;
    margin: 0%;
    
}
.btn2{
    background-color: black;
    color: whitesmoke;
}
.container2{
    background-color: lightgrey;
    margin: auto;
}
.card-img{
    height: 10cm;
    width: max-content;
}
.btn3{
    background-color: #f1efe7;
    color: black;
    border-style: hidden;
    margin-left: 150px;
}
.card-text1{
    font-weight: bold;
}
.form-group{
    margin: 30px;
}
.btn4{
    background-color: lightgray;
    color: white;
    border-style: double;
}
.account{
    background-color: #f1efe7;
}
.form-group{
    background-color: #f1efe7;
}
.container3{
    background-color: #f1efe7;
}
.card-container{
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap; 
    gap: 10px;
    margin-top: 20px;
}
.card{
    background-color: whitesmoke;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease;
    gap: 20px;
}

.card:hover {
    transform: translateY(-10px);
}
.card-image {
    object-fit: cover;
}
.card-content {
    padding: 10px;
    flex: 1;
}
.card-content h3 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: black;
}
.btn5 {
    padding: 10px 20px;
    background-color: lightgrey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.btn5:hover{
    background-color: grey;
}
.button{
    background-color: transparent;
    color: whitesmoke;
    border-top: whitesmoke;
}

.btn:hover {
    background-color: lightgray;
}
.card-img1{
    max-width: fit-content;
    height: auto;
}
.btn6{
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 50px;
    background-color: transparent;
}